.navbar {

    font-family: 'Montserrat', sans-serif;
}

.homepageLogo {
    border-radius: 100%;
    width: 100px;
}

.snakeImg {
    border-radius: 20%;
    width: 300px;
}

.snakes {
    text-align: center;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  
}

.snake-map{
    text-align: center;
}

.selectedSnakeImg{
    width: 70%;
}

.vectors{
    margin-right: 10px;
    width: 2%;
}