body {
    background-image:url('./images/desk1.jpg') ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ebebeb;
    font-family: 'Lato', sans-serif;
}

.homepageLogo {
    border-radius: 100%;
    width: 100px;
}

.jumbotron {
    text-align: center;
}

.snakeImg {
    border-radius: 20%;
    width: 300px;
}

.selectedSnakeImg {
    border-radius: 20%;
    width: 400px;
}

.snakes {
    text-align: center;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  
}

#locationMap {
    height: 200px;
    width: 35%;
}

.snake-map{
    text-align: center;
}

.selectedSnakeImg{
    width: 70%;
}

.vectors{
    margin-right: 10px;
    width: 2%;
}

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
  .custom-map-control-button:hover {
    background: #ebebeb;
  }

  /* .userForm {
    background-color:seagreen
  } */