body{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    background-image: url('pictures/pencilGameBackground.webp');
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    position: relative;
}


#my-canvas-1{
    background: rgb(245, 245, 245);
    display:inline-block;
    width: 480px;
    height: 600px;
    border: 2px solid black;
    
}

#my-canvas-2{
    background: rgb(245, 245, 245);
    display:inline-block;
    width: 480px;
    height: 600px;
    border: 2px solid black;
    
}
#keyboard-icons {
    
display: inline-block;
}
.key-icons {
    margin-top: 10px;
    border-radius: 8px;
    width: 2.5%;
}
/* 
#keyboard{
  position: absolute; 
  left: 100px;  
} */

h2 {
    display: inline-block;
    padding-top: 10px;
    margin: 0 20px 0 20px ;
}

#a-key {
    margin-left: 20px;
}

#s-key {
    margin-right: 200px;
}

